<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.smart.bottom.common.mapper.ComSectionMapper" > 

	<sql id="BaseColumn">
          section_name     sectionName,
          section_type     sectionType,
          section_num     sectionNum
    </sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.ai.smart.bottom.common.model.ComSection">
	    select 
	    <include refid="BaseColumn"/>
	    from com_section
	    where section_name = #{sectionName}
	</select>

    <select id="findByModel" resultType="com.ai.smart.bottom.common.model.ComSection" parameterType="com.ai.smart.bottom.common.model.ComSection">
        select
        <include refid="BaseColumn"/>
        from com_section
        where section_type = #{sectionType} and  section_num = #{sectionName}
    </select>


  <insert id="insert" parameterType="com.ai.smart.bottom.common.model.ComSection" keyProperty="id" useGeneratedKeys="true">
    insert into com_section (
          section_name,
          section_type,
          section_num
      )
    values (
           #{sectionName},
           #{sectionType},
          #{sectionNum}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ai.smart.bottom.common.model.ComSection">
    update com_section
    <set>
        <if test="sectionName != null">
           section_name = #{sectionName},
        </if>
        <if test="sectionType != null">
           section_type = #{sectionType},
        </if>
        <if test="sectionNum != null">
           section_num = #{sectionNum},
        </if>
    </set>
    where section_name = #{sectionName}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.ai.smart.bottom.common.model.ComSection">
    update com_section
    set 
           section_name = #{sectionName},

           section_type = #{sectionType},

         section_num = #{sectionNum}
    where section_name = #{sectionName}
  </update>

</mapper>   
