<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="context_name" value="third"/>
    <property name="logDir" value="/cqwt/smart-third/logs/" />
    <appender name="third_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>third.log</file>
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>third.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>{"app": "third", "timestamp": "%date{yyyy-MM-dd HH:mm:ss}", "log_level": "%level", "message": "%message", "stack_trace": "%replace(%exception){'\n\s*', '\\n'}%nopex" }%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!--json格式日志存档-->
    <!--<appender name="okafu_console_log" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>{"app": "okafu", "timestamp": "%date{yyyy-MM-dd HH:mm:ss}","log_level": "%level", "message": "%message", "stack_trace": "%replace(%exception){'\n\s*', '\\n'}%nopex" }%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="third_console_log" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %file:[%line] - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.ai.smart" level="info"></logger>
    <logger name="org.apache.ibatis" level="INFO"></logger>
    <logger name="org.springframework" level="INFO"></logger>
    <logger name="springfox" level="error"></logger>
    <logger name="com.ai.smart.third.mapper" level="info"></logger>
    <logger name="com.linkage" level="debug"></logger>

    <root level="INFO">
         <appender-ref ref="third_console_log"/>
         <appender-ref ref="third_log"/>
    </root>


</configuration>